# ── GitLab Configuration ──────────────────────────────────────────────────────
# Mandatory: Provide your GitLab personal access token
GITLAB_TOKEN=glpat-your-token-here

# ── Admin Account (Created on first run) ──────────────────────────────────────
ADMIN_EMAIL=admin@test.com
ADMIN_PASSWORD=Admin1234!

# ── Database (Pre-configured for Docker) ──────────────────────────────────────
POSTGRES_USER=postgres
POSTGRES_PASSWORD=0000
POSTGRES_DB=gitlab_kpi1

# ── Security ──────────────────────────────────────────────────────────────────
# You can change these for higher security
SECRET_KEY=SUPER_LONG_RANDOM_SECRET
ENCRYPTION_KEY=Kjmdv6TEIBxn2C81WqXPkYYU5UIx_9lWK6OIW8e4MvU=
